# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
**/.idea/**
**/target/**
*.DS_Store
/imagenes/abrazo.PNG
/imagenes/abrigo.PNG
/imagenes/abrir.PNG
/imagenes/africa.PNG
/imagenes/aire.PNG
/imagenes/amarillo.PNG
/imagenes/aplauso.PNG
/imagenes/arandano.PNG
/imagenes/araña.PNG
/imagenes/arbol.PNG
/imagenes/arco.PNG
/imagenes/aro.PNG
/imagenes/arpa.PNG
/imagenes/arroba.PNG
/imagenes/arroz.PNG
/imagenes/bafle.PNG
/imagenes/balde.PNG
/imagenes/ballena.PNG
/imagenes/banana.PNG
/imagenes/barre.PNG
/imagenes/barrera.PNG
/imagenes/barril.PNG
/imagenes/barrilete.PNG
/imagenes/batir.PNG
/imagenes/baño.PNG
/imagenes/bicicleta.PNG
/imagenes/billete.PNG
/imagenes/blanco.PNG
/imagenes/bloques.PNG
/imagenes/blusa.PNG
/imagenes/boca.PNG
/imagenes/boda.PNG
/imagenes/bola.PNG
/imagenes/bollo.PNG
/imagenes/borro.PNG
/imagenes/brazo.PNG
/imagenes/brillo.PNG
/imagenes/brisa.PNG
/imagenes/bruja.PNG
/imagenes/budin.PNG
/imagenes/cable.PNG
/imagenes/cabra.PNG
/imagenes/calamar.PNG
/imagenes/calendario.PNG
/imagenes/calle.PNG
/imagenes/campana.PNG
/imagenes/cangrejo.PNG
/imagenes/caracol.PNG
/imagenes/caramelo.PNG
/imagenes/careta.PNG
/imagenes/carreta.PNG
/imagenes/carrito.PNG
/imagenes/carroza.PNG
/imagenes/carruaje.PNG
/imagenes/carrusel.PNG
/imagenes/carta.PNG
/imagenes/casa.PNG
/imagenes/cebra.PNG
/imagenes/cereza.PNG
/imagenes/cero.PNG
/imagenes/cerro.PNG
/imagenes/chicle.PNG
/imagenes/choclo.PNG
/imagenes/ciervo.PNG
/imagenes/cirujanos.PNG
/imagenes/clavo.png
/imagenes/cocodrilo.PNG
/imagenes/codo.PNG
/imagenes/cofre.PNG
/imagenes/colores1.PNG
/imagenes/comprar.PNG
/imagenes/coral.PNG
/imagenes/corales.PNG
/imagenes/coro.PNG
/imagenes/corona.PNG
/imagenes/corral.PNG
/imagenes/cortar.PNG
/imagenes/crema.png
/imagenes/cruz.PNG
/imagenes/cuadro.PNG
/imagenes/cuatro.PNG
/imagenes/cubiertos.PNG
/imagenes/cucaracha.PNG
/imagenes/cuchara.PNG
/imagenes/cuervo.PNG
/imagenes/culebra.PNG
/imagenes/dado.PNG
/imagenes/daño.PNG
/imagenes/dedo.PNG
/imagenes/delfin.PNG
/imagenes/desierto.PNG
/imagenes/dia.PNG
/imagenes/diente.PNG
/imagenes/diez.PNG
/imagenes/diploma.PNG
/imagenes/doble.PNG
/imagenes/doce.PNG
/imagenes/dolar.PNG
/imagenes/doma.PNG
/imagenes/dona.PNG
/imagenes/dos.PNG
/imagenes/dragon.PNG
/imagenes/ducha.PNG
/imagenes/duende.PNG
/imagenes/duna.PNG
/imagenes/durazno.PNG
/imagenes/edificios.PNG
/imagenes/ejercitar.PNG
/imagenes/elefante.PNG
/imagenes/enrollar.PNG
/imagenes/entrar.PNG
/imagenes/erizo.PNG
/imagenes/error.PNG
/imagenes/escoba.PNG
/imagenes/estrella.PNG
/imagenes/farol.PNG
/imagenes/fideos.PNG
/imagenes/flan.PNG
/imagenes/flauta.PNG
/imagenes/flecha.PNG
/imagenes/flor.PNG
/imagenes/flores.PNG
/imagenes/fresa.PNG
/imagenes/frio.PNG
/imagenes/fuma.PNG
/imagenes/gafas.PNG
/imagenes/gallina.PNG
/imagenes/globo.PNG
/imagenes/goma.PNG
/imagenes/gorila.PNG
/imagenes/gorro.PNG
/imagenes/granja.PNG
/imagenes/grifo.PNG
/imagenes/grillo.PNG
/imagenes/gris.PNG
/imagenes/habla.PNG
/imagenes/hada.PNG
/imagenes/helado.PNG
/imagenes/hora.PNG
/imagenes/iglesia.PNG
/imagenes/iglu.PNG
/imagenes/indio.PNG
/imagenes/infla.PNG
/imagenes/inflador.PNG
/imagenes/inodoro.PNG
/imagenes/isla.PNG
/imagenes/jarra.PNG
/imagenes/jaula.PNG
/imagenes/ladrillo.PNG
/imagenes/lago.PNG
/imagenes/lana.PNG
/imagenes/lapiz.PNG
/imagenes/lata.PNG
/imagenes/lavadora.PNG
/imagenes/lave.PNG
/imagenes/lavo.PNG
/imagenes/leche.PNG
/imagenes/lee.PNG
/imagenes/leon.PNG
/imagenes/leña.PNG
/imagenes/libelula.PNG
/imagenes/libro.PNG
/imagenes/lila.PNG
/imagenes/limon.PNG
/imagenes/lira.PNG
/imagenes/Lista.png
/imagenes/llama.PNG
/imagenes/llave.PNG
/imagenes/llega.PNG
/imagenes/lleno.PNG
/imagenes/llora.PNG
/imagenes/lluvia.PNG
/imagenes/lobo.PNG
/imagenes/lodo.PNG
/imagenes/lona.PNG
/imagenes/loro.PNG
/imagenes/luna.PNG
/imagenes/luz.PNG
/imagenes/malo.PNG
/imagenes/mandarina.PNG
/imagenes/mano.PNG
/imagenes/mar.PNG
/imagenes/mariposa.PNG
/imagenes/media.PNG
/imagenes/medialuna.PNG
/imagenes/medusa.PNG
/imagenes/mermelada.PNG
/imagenes/microfono.PNG
/imagenes/mide.PNG
/imagenes/miel.PNG
/imagenes/mire.PNG
/imagenes/moda.PNG
/imagenes/mona.PNG
/imagenes/morsa.PNG
/imagenes/moto.PNG
/imagenes/murcielago.PNG
/imagenes/negro.PNG
/imagenes/neon.PNG
/imagenes/nido.PNG
/imagenes/niño.PNG
/imagenes/nublado.PNG
/imagenes/nutria.PNG
/imagenes/ojo.PNG
/imagenes/ola.PNG
/imagenes/oler.PNG
/imagenes/olla.PNG
/imagenes/orca.PNG
/imagenes/orilla.PNG
/imagenes/oro.PNG
/imagenes/oruga.PNG
/imagenes/pala.PNG
/imagenes/palmera.PNG
/imagenes/pan.PNG
/imagenes/parra.PNG
/imagenes/pastel.PNG
/imagenes/peine.PNG
/imagenes/pela.PNG
/imagenes/pelicano.PNG
/imagenes/pelo.PNG
/imagenes/pelota.png
/imagenes/pera.PNG
/imagenes/periodico.PNG
/imagenes/perro.PNG
/imagenes/peru.PNG
/imagenes/pez.PNG
/imagenes/piano.PNG
/imagenes/pie.PNG
/imagenes/pirata.PNG
/imagenes/pistola.PNG
/imagenes/piña.PNG
/imagenes/plancha.PNG
/imagenes/planta.PNG
/imagenes/plaza.PNG
/imagenes/pluma.PNG
/imagenes/pollito.PNG
/imagenes/pollo.PNG
/imagenes/porcion.PNG
/imagenes/postre.PNG
/imagenes/premio.PNG
/imagenes/preso.PNG
/imagenes/prision.PNG
/imagenes/prisma.PNG
/imagenes/pueblo.PNG
/imagenes/puerta.PNG
/imagenes/pulpo.PNG
/imagenes/pure.PNG
/imagenes/rabo.PNG
/imagenes/racha.PNG
/imagenes/ralla.PNG
/imagenes/rama.PNG
/imagenes/rana.PNG
/imagenes/rata.PNG
/imagenes/raton.PNG
/imagenes/raya.PNG
/imagenes/regla.PNG
/imagenes/reja.PNG
/imagenes/reloj.PNG
/imagenes/reno.PNG
/imagenes/rio.PNG
/imagenes/rollito.PNG
/imagenes/rollo.PNG
/imagenes/rubia.PNG
/imagenes/rueda.PNG
/imagenes/ruega.PNG
/imagenes/ruleta.PNG
/imagenes/ruta.PNG
/imagenes/sandalia.PNG
/imagenes/sandia.PNG
/imagenes/seda.PNG
/imagenes/sello.PNG
/imagenes/semaforo.PNG
/imagenes/serrucho.PNG
/imagenes/servilleta.PNG
/imagenes/seta.PNG
/imagenes/silla.PNG
/imagenes/sobre.PNG
/imagenes/soda.PNG
/imagenes/soga.PNG
/imagenes/sol.PNG
/imagenes/sombrero.PNG
/imagenes/sopla.PNG
/imagenes/tabla.PNG
/imagenes/tambor.PNG
/imagenes/taza.PNG
/imagenes/tecla.PNG
/imagenes/teclado.PNG
/imagenes/telefono.PNG
/imagenes/tigre.PNG
/imagenes/toalla.PNG
/imagenes/toro.PNG
/imagenes/torre.PNG
/imagenes/torta.PNG
/imagenes/tortuga.PNG
/imagenes/tos.PNG
/imagenes/tostar.PNG
/imagenes/tractor.PNG
/imagenes/treinta.PNG
/imagenes/tren.PNG
/imagenes/tres.PNG
/imagenes/tronco.PNG
/imagenes/trueno.PNG
/imagenes/valla.PNG
/imagenes/valle.PNG
/imagenes/vela.PNG
/imagenes/virus.PNG
/imagenes/yogur.PNG
/imagenes/zapato.PNG
/imagenes/zorro.PNG
/csv/tm_exercise.csv
/csv/tm_image.csv
/csv/tm_image2.csv
/csv/tm_image_exercise.csv
/csv/tm_phoneme.csv
/csv/tm_rfi.csv
